/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left h2 {
  margin: 0;
  margin-right: 20px;
}

.search-bar {
  padding: 8px;
  font-size: 16px;
  width: 200px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar-right a:hover {
  text-decoration: underline;
}

