.soundboard {
  text-align: center; /* Centraliza os botões no contêiner */
  margin: 20px 0;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.button {
  display: inline-block;
  margin: 10px;
}
