/* Estilos básicos */
.App {
  text-align: center;
  padding: 20px;
}

/* Media Query para dispositivos móveis */
@media (max-width: 600px) {
  .button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

/* src/App.css */

.soundboard {
  display: flex;
  flex-wrap: wrap; /* Permitir que os botões quebrem para a próxima linha */
  justify-content: center; /* Centralizar os botões */
}

.sound-button {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sound-button button {
  background-color: white; /* Fundo branco para o botão */
  border: 1px solid #ccc; /* Bordas suaves */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 10px;
  cursor: pointer;
}

.sound-button button img {
  max-width: 100%; /* Para manter a imagem dentro do botão */
  height: auto; /* Para manter a proporção da imagem */
}
